.idea
node_modules
/lib/
/.rpt2*
/.nyc_output
/*.log
/.vs
/tap.xml
/package-lock.json
/dist
/player.json
/game.json
/endpoints.json
test.js
config/translations/*.yaml
/variables.ini
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions